<ion-header>
  <page-hometest></page-hometest>
</ion-header>
<ion-content>
    <ion-searchbar [(ngModel)]="searchTerm" [formControl]="searchControl" padding></ion-searchbar>
  <ion-list>
    <button ion-item *ngFor="let item of items" >
      <!-- <ion-icon [name]="item.icon" item-start></ion-icon> -->
      {{item.title}}
      <div class="item-note" item-end >
       <!-- {{item.note}} -->
       <ion-icon ios="ios-create" md="md-create" (click)="openModal($event, item)" padding></ion-icon>
       <ion-icon ios="ios-trash" md="md-trash" (click)="itemTapped($event, item)"></ion-icon>
      </div>
    </button>
  </ion-list>
  <div *ngIf="selectedItem" padding>
    You navigated here from <b>{{selectedItem.title}}</b>
  </div>
  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
      <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>
</ion-content>
