<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Ionic-Master</ion-title>
    <ion-buttons end>
      <button ion-button tappable>
        <ion-icon name="notifications"></ion-icon>
      </button>
      <button ion-button tappable>
        <ion-icon name="cog"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content padding class="login auth-page">
    <div class="login-content">
      <!-- Logo -->
    <div padding-horizontal text-center class="animated fadeInDown">
        <br/>
        <h2 ion-text class="text-primary">
          <strong> Forgot Password ?</strong>
        </h2>
      </div>
  <ion-row>
  </ion-row>
  <div >
    <form #loginForm="ngForm"  autocomplete="off">
      <ion-row>
        <ion-col>
          <ion-list inset>
            <ion-item>
                <ion-label floating>
                    <ion-icon name="mail"
                     item-start
                     class="text-primary">
                    </ion-icon>
                    Email
                  </ion-label>
              <ion-input
               name="username"
                id="loginField"
                type="email"
                 required
                  [(ngModel)]='username'
                 #email></ion-input>
            </ion-item>

          </ion-list>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <div *ngIf="error" class="alert alert-danger">{{ error }}</div>
          <button ion-button class="submit-btn" full type="submit" (click)="login()"
                  [disabled]="!loginForm.form.valid">Submit
          </button>
        </ion-col>
      </ion-row>
      <br/>
      <B><div style="text-align:center">If you're a new user, please sign up.</div></B>
      <ion-row class="right-text">
          <ion-list  class="right-text">

          <button  ion-button icon-left block clear (click)="loginWithGoogle()">
            <ion-icon name="logo-google"></ion-icon>
            Log in with Google
          </button>

          <button ion-button icon-left block clear (click)="signup()">
            <ion-icon name="person-add"></ion-icon>
            Sign up with Email
          </button>
        </ion-list>
      </ion-row>


    </form>
    See Here:
    <div><ul *ngFor="let profile of uber | async">
      <li> {{ profile.Email}}:{{ profile.Name}} </li>
   </ul></div>
  </div>
  </div>
</ion-content>
